.bicycles {
  @include container;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 130px;
  background-color: $gray;
}

.bicycles__wrapper {
  padding: 0 157px;
}

.bicycles h2 {
  @include reset;
  margin-bottom: 50px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $black-additional;
}

.bicycles ul {
  @include reset;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 20px;
}

.bicycles img {
  object-fit: cover;
  margin-bottom: 25px;
}

.bicycles h3 {
  @include reset;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
}

.bicycles li:nth-of-type(3n-1) {
  padding-top: 45px;
}

@media (max-width: $tablet-breakpoint) {
  .bicycles {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .bicycles__wrapper {
    padding: 0 80px;
  }

  .bicycles h2 {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.005em;
  }

  .bicycles ul {
    column-gap: 0;
    row-gap: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .bicycles li:nth-of-type(3n-1) {
    padding-top: 0;
  }

  .bicycles li:nth-of-type(2n) {
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .bicycles img {
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 17px;
    width: 35.2vw;
    height: 39.07vw;
  }

}

@media (max-width: $mobile-breakpoint) {
  .bicycles {
    padding-top: 63px;
    padding-bottom: 52px;
  }

  .bicycles__wrapper {
    padding: 0 16px;
  }

  .bicycles ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .bicycles li:nth-of-type(2n) {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .bicycles li {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bicycles img {
    margin-bottom: 15px;
    width: 84.4vw;
    height: 93.75vw;
  }
}
