.contacts {
  @include reset;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.contacts li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

  &:nth-of-type(2n-1) {
    justify-content: flex-end;
  }

  &:nth-of-type(2n) {
    padding-left: 5vw;
  }
}

.contacts a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: $black;

  &:first-of-type {
    line-height: 22px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.contacts span {
  margin-left: 15px;
  opacity: 0.5;
}

@media (max-width: $tablet-breakpoint) {
  .contacts li {
    &:nth-of-type(2n) {
      padding-left: 9vw;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts li {
    margin-bottom: 26px;

    &:nth-of-type(2n-1) {
      justify-content: center;
    }

    &:nth-of-type(2n) {
      justify-content: center;
      padding-left: 0;
    }
  }
}
