.form-field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-field p {
  @include reset;
  margin-bottom: 20px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;
  mix-blend-mode: normal;
}

.form-field input {
  margin-bottom: 20px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: $white;
  border: 1px solid $gray-light;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  padding: 11px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $black;

  &::placeholder {
    color: $black-secondary;
  }
}

.form-field button {
  text-align: center;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: $turquoise;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: $black;
}
