.promo {
  @include container;
  padding-top: 62px;
  height: 820px; // временная затычка
  background-color: $gray-darken;
  background-image: url('/img/main-bike.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/main-bike@2x.jpg");
  }
}

.promo__wrapper {
  display: flex;
  padding: 0 calc((50% - 184px)/2);
  padding-top: 261px;
  padding-bottom: 256px;
  justify-content: space-between;
}

.promo__description-promo {
  flex-basis: 393px;
  padding-left: 20px;
}

.promo__form-field {
  flex-basis: 327px;
}

@media (max-width: $tablet-breakpoint) {
  .promo {
    background-size: 747px 340px;
    text-align: center;
  }

  .promo__wrapper {
    flex-direction: column;
    padding: 0;
    padding-bottom: 70px;
  }

  .promo__description-promo {
    padding: 0;
    flex-basis: 339px;
  }

  .promo__form-field {
    flex-basis: 400px;
    background-color: $white;
    padding: 0 calc(50% - 200px);
  }
}
