.promo {
  @include container;
  padding-top: 62px;
  padding-bottom: 235px;
  background-color: $gray-darken;
  background-image: url("../img/main-bike.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-bike@2x.jpg");
  }
}

.promo__wrapper {
  display: flex;
  padding: 0 calc((50% - 162px) / 2);
  padding-top: 258px;
  justify-content: space-between;
}

.promo__description-promo {
  flex-basis: 393px;
}

.promo__form-field {
  flex-basis: 330px;
}

@media (max-width: $tablet-breakpoint) {
  .promo {
    background: none;
    text-align: center;
    padding-bottom: 13px;
  }

  .promo__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .promo__description-promo {
    padding: 0;
    flex-basis: 339px;
    background-color: $gray-darken;
    background-image: url("../img/main-bike.jpg");
    background-repeat: no-repeat;
    background-position: center -40px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bike@2x.jpg");
    }
  }

  .promo__form-field {
    flex-basis: 400px;
    background-color: $white;
    padding: 72px 224px 0 223px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .promo {
    padding: 0;
    padding-bottom: 30px;
  }

  .promo__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .promo__description-promo {
    padding: 0;
    flex-basis: 390px;
    background-position: center 30px;
  }

  .promo__form-field {
    flex-basis: 400px;
    background-color: $white;
    padding: 70px 16px 0 16px;
  }
}
