.video-bike {
  background-color: $gray-darkest;
  text-align: center;
  padding-top: 120px;
  position: relative;
  padding-bottom: calc(50% - 240px);
}

.video-bike h2 {
  @include reset;
  margin-bottom: 20px;
  color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.video-bike p {
  @include reset;
  color: $white;
  margin: 0 auto;
  width: 340px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  opacity: 0.7;
}

.video-bike img {
  object-fit: cover;
}

.video-bike__video-inner {
  position: absolute;
  bottom: -100px;
  width: 100%;
  left: 0;
  padding: 0 256px;
}

.video-bike__image-inner {
  position: relative;
}

.video-bike button {
  cursor: pointer;
  position: absolute;
  bottom: 44%;
  left: 46.5%;
  width: 4.52vw;
  height: 4.52vw;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: $turquoise;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 18px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-breakpoint) {
  .video-bike {
    padding-top: 70px;
    padding-bottom: calc(50% - 144px);
  }

  .video-bike h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .video-bike p {
    font-size: 16px;
    line-height: 28px;
    width: 429px;
  }

  .video-bike__video-inner {
    bottom: -86px;
    padding: 0 132px;
  }

  .video-bike button {
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    background-size: 18px 25px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .video-bike {
    padding-top: 84px;
    padding-bottom: 52vw;
  }

  .video-bike h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .video-bike p {
    font-size: 16px;
    line-height: 28px;
    width: 288px;
  }

  .video-bike__video-inner {
    bottom: -50px;
    padding: 0 16px;
  }

  .video-bike button {
    top: calc(50% - 34px);
    left: calc(50% - 32px);
    width: 65px;
    height: 65px;
    background-size: 13px 18px;
  }
}
