// colors
$white: white;
$black: #000000;
$black-additional: #1F1F1F;
$black-secondary: #1C1C1C;
$gray-darkest: #131314;
$gray: #F6F7F9;
$gray-additional: #F6F6F6;
$gray-light: #C9CCD4;

$turquoise: #0AD9C6;


//scaling
$mobile-width: 320px;
$mobile-breakpoint: 767px;
$tablet-width: 768px;
$tablet-breakpoint: 1023px;
$desktop-width: 1440px;
